<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-content">
      <div class="header-title">
        <h1>Trueque App</h1>
         <img src="assets/img/trueques.png" alt="Logo de Trueques" class="logo-img">
        <p>Intercambia lo que quieras</p>
      </div>
      <!-- Barra de búsqueda -->
      <div class="search-bar">
        <ion-searchbar placeholder="Buscar" mode="ios"></ion-searchbar>
      </div>

      <!-- Filtros -->
      <div class="filters">
        <ion-button fill="outline" size="small">
          <ion-icon name="funnel-outline" slot="start"></ion-icon>
          Categoría
        </ion-button>
        <ion-button fill="outline" size="small">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Cerca de mí
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Grid de trueques -->
  <div class="trueques-grid">
    <div *ngFor="let trueque of trueques" class="trueque-card" (click)="verDetalle(trueque)">
      <!-- Imagen/Emoji -->
      <div [ngClass]="trueque.color" class="trueque-imagen">
        {{ trueque.emoji }}
      </div>

      <!-- Contenido -->
      <div class="trueque-contenido">
        <h3 class="trueque-nombre">{{ trueque.nombre }}</h3>
        <p class="trueque-cambio">{{ trueque.cambio }}</p>

        <div class="trueque-ubicacion">
          <ion-icon name="location"></ion-icon>
          <span>{{ trueque.ciudad }}</span>
        </div>
      </div>

      <!-- Botón -->
      <ion-button expand="block" color="gray" size="small">
        Ver detalle
      </ion-button>
    </div>
  </div>

  <!-- Sección de búsqueda -->
  <div class="buscar-ideal">
    <h3>Buscar cambio ideal</h3>
    <p>No encontraste lo que buscas? Publica tu artículo</p>
    <ion-button expand="block" color="gray" (click)="irACrearTrueque()">
      Publicar artículo
    </ion-button>
  </div>
</ion-content>



<!-- Bottom Navigation -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="bottom-nav">
      <button 
        class="nav-button" 
        [class.active]="tabActiva === 'home'"
        (click)="cambiarTab('home')">
        <ion-icon name="home"></ion-icon>
        <span>Inicio</span>
      </button>

      <button 
        class="nav-button" 
        [class.active]="tabActiva === 'messages'"
        (click)="cambiarTab('')">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <span>Mensajes</span>
      </button>

      <button 
  class="nav-button" 
  [class.active]="tabActiva === 'perfil'"
  (click)="cambiarTab('perfil')">
  <ion-icon name="person"></ion-icon>
  <span>Perfil</span>
</button>
    </div>
  </ion-toolbar>
</ion-footer>